<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSV Data</title>
</head>
<body>
{{range $key, $records := .}}
<h2>{{index (index $records 0) 2}}</h2>
<table border="1">
    {{range $i, $record := $records}}
    <tr>
        {{range $record}}
        <td>{{.}}</td>
        {{end}}
        {{if ne $i 0}}
        <td><input type="checkbox"></td>
        <td><input type="number" min="0" value="0"></td>
        {{end}}
    </tr>
    {{end}}
</table>
{{end}}
</body>
</html>