body {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    overflow-x: hidden;
}

.container {
    width: 60%;
    max-width: 600px;
    background: var(--table-odd);
    padding: 20px 60px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

button {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c20000;
}

#submitBtn {
    display: inline-block;
    margin-top: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

#fileNameDisplay, #deadlineDisplay {
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.fileName {
    border-radius: 4px;
    font-size: 16px;
    height: 16px;
}

.setDead{
    border-radius: 4px;
    font-size: 16px;
    height: 16px;
}



#notification-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification {
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    animation: fadeInOut 3.5s ease-in-out;
    min-width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}

