body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: var(--table-odd);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    text-align: center;
    color: var(--text-color);
}

#countdown {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e60000;
}

ul#itemsList {
    list-style-type: none;
    padding: 0;
}

ul#itemsList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul#itemsList li:last-child {
    border-bottom: none;
}

ul#itemsList li:nth-child(even) {
    background-color: #f9f9f9;
}