body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin-top: 15%;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: var(--table-odd);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    text-align: center;
    color: var(--text-color);
}

h3 {
    padding-top: 30px;
    color: var(--text-color);
}

#countdown {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e60000;
    border-bottom: var(--text-color) 1px solid;
    padding-bottom: 10px;
}

ul#itemsList {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

ul#itemsList li {
    list-style: none; /* Ensures no bullets */
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

ul#itemsList li:last-child {
    border-bottom: none;
}