:root {
    --background-color: #f9f9f9;
    --text-color: #333333;
    --button-background: #e3e3e6;
    --button-text: #ffffff;
    --base-variant: #e8e9ed;
    --table-odd: #f9f9f9;
    --table-hover: #f0f0f0;
}

.darkmode {
    --background-color: #333333;
    --text-color: #ffffff;
    --button-background: #231456;
    --button-text: #ffffff;
    --base-variant: #292929;
    --table-odd: #292929;
    --table-hover: #3a3a3a;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 20px;
    border: none;
}

#theme-switch svg {
    fill: var(--text-color);
}
#theme-switch svg:last-child {
    display: none;
}

#theme-switch:hover {
    cursor: pointer;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}


