<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Razprodaja</title>
    <link rel="stylesheet" href="/static/css/items.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
{{template "header.html".}}
<div id="custom-confirm" class="hidden">
    <div class="confirm-box">
        <p id="confirm-message">Ali je to vse?</p>
        <div class="confirm-buttons">
            <button id="confirm-yes">Da</button>
            <button id="confirm-no">Ne</button>
        </div>
    </div>
</div>

<div class="left">
    {{range $key, $records := .}}
    <h2>{{index (index $records 0) 2}}</h2>
    <table border="1">
        {{range $i, $record := $records}}
        {{range $j, $cell := $record}}
        <td>{{.}}</td>
        {{end}}
        {{if ne $i 0}}
        <td>
            <input type="checkbox" class="item-checkbox" data-name="{{index $record 2}}" data-quantity="{{index $record 3}}" data-price="{{index $record 4}}" data-limit="{{index (index $records 0) 5}}">
        </td>
        <td colspan="2">
            <div class="quantity-wrapper">
                <div class="quantity-controls" data-name="{{index $record 2}}">
                    <button class="decrement-btn" data-name="{{index $record 2}}" disabled>-</button>
                    <button class="increment-btn" data-name="{{index $record 2}}" disabled>+</button>
                </div>
            </div>
        </td>
        {{end}}
        </tr>
        {{end}}
    </table>
    <ul class="selected-items" data-table="{{index (index $records 0) 2}}"></ul>
    {{end}}
</div> <!-- Close the left div -->
<div class="right">
    <div>
        <h2>Izbrani izdelki</h2>
        <div id="selected-items-container"></div>
    </div>
    <div class="total-price-wrapper">
        <div id="total-price"></div>
        <button id="goToMyItemsButton">Končaj naročilo</button>
    </div>
</div>
<div id="notification-container"></div>
<script src="/static/js/items.js"></script>
<script>
    document.getElementById('goToMyItemsButton').addEventListener('click', function() {
        if (confirm('Ali je to vse?')) {
            window.location.href = '/myitems';
        }
    });
</script>
</body>
</html>